body{
	user-select:none;
	background-color:black;
	color:white;
}
/* サブメニューコンテナ */
#inputContainer,#optionContainer{
	display:none;
	position:absolute;
	z-index:2;
	background-color:black;
	padding:0.5em;
}
/* 元々のチェックボックス（非表示） */
input[type="checkbox"]{
	display: none;
}
/* チェックボックスの代わりを成すラベル */
input[type="checkbox"]+label{
	display: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
/* ラベルの左に表示させる正方形のボックス□ */
input[type="checkbox"]+label::before{
	content: "";
	position: absolute;
	display: block;
	box-sizing: border-box;
	left: 0;
	top: 50%;
	border: 1px solid;
	border-color:  #585753; /* 枠の色変更 お好きな色を */
	background-color: #FFF; /* 背景の色変更 お好きな色を */
}
/* チェックが入った時のレ点 */
input[type="checkbox"]:checked+label::after{
	content:"";
	position:absolute;
	display:block;
	box-sizing:border-box;
	top:50%;
	transform:rotate(-45deg);
}
.AAA{
	background:linear-gradient(#FFCC00 49%, #303030 1%, #FFCC00);
}
.AA{
	background:linear-gradient(#E0E0E0 49%, #303030 1%, #E0E0E0);
}
.A{
	background:linear-gradient(#00FFC0 49%, #303030 1%, #00FFC0);
}
.B,.C,.D,.E,.F{
	background:linear-gradient(#606060 49%, #303030 1%, #606060);
}
.CN{
	background:linear-gradient(#FFFF00 15%, rgba(0,0,0,0) 15% 85%, #FFFF00 85%);
}
.HCN{
	background:linear-gradient(#FF0000 15%, rgba(0,0,0,0) 15% 85%, #FF0000 85%);
}
.NO_PLAY{
	color:#B0B0B0;
}
.FAILED{
	color:#FF0000;
}
.ASSIST_CLEAR{
	color:#FF00FF;
}
.EASY_CLEAR{
	color:#00FF00;
}
.CLEAR{
	color:#00FFC0;
}
.HARD_CLEAR{
	color:#FF0000;
}
.EX_HARD_CLEAR{
	color:#FFE000;
}
.FULL_COMBO{
	animation:flash 0.25s linear infinite;
}
.DIFFICULT{
	text-align:center;
	text-shadow:
		 2px  2px 0 black,
		-2px -2px 0 black,
		-2px  2px 0 black,
		 2px -2px 0 black,
		 0px  2px 0 black,
		 0   -2px 0 black,
		-2px  0   0 black,
		 2px  0   0 black;
}
.PLAYRESULT{
	text-shadow:
		 2px  2px 0 black,
		-2px -2px 0 black,
		-2px  2px 0 black,
		 2px -2px 0 black,
		 0px  2px 0 black,
		 0   -2px 0 black,
		-2px  0   0 black,
		 2px  0   0 black;
}
.TOP_N{
	background-color:rgba(64, 196, 255, 0.5);
}
.TOP_H{
	background-color:yellow;
}
.TOP_A{
	background-color:rgba(255, 0, 0, 0.5);
}
.TOP_L{
	background-color:rgba(255, 0, 153, 0.5);
}
.DIF_N{
	color:#00A0FF;
}
.DIF_H{
	color:#FFC000;
}
.DIF_A{
	color:#FF0000;
}
.DIF_L{
	color:#FF0099;
}
.TOP_ASSIST_CLEAR{
	background-color:#FF00FF;
}
.TOP_EASY_CLEAR{
	background-color:#00FF00;
}
.TOP_NO_PLAY{
	background-color:rgba(0,0,0,0) !important;
}
.TOP_FAILED{
	animation:fail 0.1s steps(1, end) infinite;
}
.TOP_CLEAR{
	background-color:rgb(64, 196, 255);
}
.TOP_HARD_CLEAR{
	background-color:white;
}
.TOP_EX_HARD_CLEAR{
	animation:exHard 0.6s steps(1, end) infinite;
}
.TOP_FULL_COMBO{
	animation:fullCombo 0.5s steps(1, end) infinite;
}
@keyframes fail{
	0%{
		
	}
	50%{
		background-color:black;
	}
}
@keyframes flash{
	24%,74%{
		color:white;
	}
	25%{
		color:red;
	}
	75%{
		color:blue;
	}
}
@keyframes fullCombo{
	33%{
		background-color:white;
	}
	66%{
		background-color:yellow;
	}
	0%{
		background-color:rgba(128, 225, 255, 1);
	}
}
@keyframes exHard{
	0%{
		background-color:yellow;
	}
	50%{
		background-color:rgba(255, 0, 0, 1);
	}
}
#dt{
	border-collapse: separate;
    border-spacing: 0px 20px;
    width:100%;
}
input,select,button{
	font-size:1.1em;
}
#menuButton{
	cursor:pointer;
	font-weight:bold;
	background-color:#303030;
	color:gray;
}
#dtContainer{
	height:92.5%;
	overflow-y:scroll;
}
.title{
	width:100%;
	background-color:rgba(32,32,32,0.5);
	display:flex;justify-content:flex-start;
}
@media screen and (orientation:portrait){
	body{
		font-size:5.0em;
	}
	#inputContainer,#optionContainer{
		width:calc(100% - 1.0em - 30px);
		border:7px solid gray;
	}
	/* チェックボックスの代わりを成すラベル */
	input[type="checkbox"]+label{
		padding-left: 90px;
		padding-right: 10px;
	}
	/* ラベルの左に表示させる正方形のボックス□ */
	input[type="checkbox"]+label::before{
		width:70px;
		height:70px;
		margin-top:-40px;
	}
	/* チェックが入った時のレ点 */
	input[type="checkbox"]:checked+label::after{
		width:48px;
		height:49px;
		margin-top:-40px;
		left:10px;
		border-bottom:15px solid;
		border-left:15px solid;
		border-color:#585753; /* チェックの色変更 お好きな色を */
	}
	.title{
		font-size:3.5em;
	}
	.dataArea{
		font-size:3.0em;
	}
	#menuButton{
		padding-top:0.25em;
		margin-left:0.3em;
		font-size:0.7em;
		border:10px solid gray;
		border-radius:15px;
		padding-left:0.4em;
		padding-right:0.4em;
	}
	.title{
		border:5px solid rgb(255,128,0);
		border-radius:12px;
	}
	.CN,.HCN,.NOCN{
		width:2.5em;
		padding-top:0.5em;
		font-size:3.0em;
	}
	.STAT{
		width:0.5em;
		border-radius:6px 0px 0px 6px;
	}
}
@media screen and (orientation:landscape){
	body{
		font-size:1.25em;
		width:50%;
		margin-left:25%;
	}
	#inputContainer,#optionContainer{
		width:calc(20% - 1.0em - 30px);
		border:2px solid gray;
		margin-left:calc(17%);
	}
	#menuButton{
		padding-top:0em;
		margin-left:0.3em;
		font-size:0.8em;
		border:3px solid gray;
		border-radius:5px;
		padding-left:0.4em;
		padding-right:0.4em;
	}
	/* チェックボックスの代わりを成すラベル */
	input[type="checkbox"]+label{
		padding-left: 25px;
		padding-right: 10px;
	}
	/* ラベルの左に表示させる正方形のボックス□ */
	input[type="checkbox"]+label::before{
		width:20px;
		height:20px;
		margin-top:-10px;
	}
	/* チェックが入った時のレ点 */
	input[type="checkbox"]:checked+label::after{
		width:11px;
		height:11px;
		margin-top:-8px;
		left:5px;
		border-bottom:4px solid;
		border-left:4px solid;
		border-color:#585753; /* チェックの色変更 お好きな色を */
	}
	.title{
		border:3px solid rgb(255,128,0);
		border-radius:5px;
		font-size:1.3em;
	}
	.dataArea{
		font-size:1.2em;
	}
	.CN,.HCN,.NOCN{
		width:2.5em;
		margin-top:0.4em;
		margin-bottom:0.4em;
		padding-top:0.35em;
		font-size:1.0em;
	}
	.STAT{
		width:0.5em;
		border-radius:2px 0px 0px 2px;
	}
}